//自定义主题部分
$uf-primary-color: #108ee9; // #108ee9  #1DA57A
$uf-link-color: #40a9ff; // #40a9ff  #1DA57A
$uf-table-link-color: #333333; // 表格内跳转链接
$uf-query-area-background-color: #ecf6fd; // #ecf6fd  #A3DCCA 
$uf-query-area-border: #d2eafb; //#d2eafb  #82D2Bd
$pf-border-radius: 4px;