#month-line {
	padding-left: 16px;
}

#month-line .gray-line {
	height: 26px;
	width: 100%;
	background-color: #F2F2F2;
	border: 1px solid #D9D9D9;
	border-radius: 12px;
	position: relative;
}

#month-line .blue-line {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
    overflow: hidden;
    border-radius: 11px;
}

#month-line .blue-one {
	float: left;
	width: 8.33%;
	height: 24px;
	background-color: transparent;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
}

#month-line .blue-one a{
	cursor: default;
}
a:hover, a:focus {
    text-decoration: none;
}
#month-line .blue-one.choose {
	/*visibility: visible;*/
	background-color: #FFC107;
}

#month-line .blue-one a:hover{
    padding: 2px 7px;
    border-radius: 11px;
	color: #FFC107;
	cursor: pointer;
}
#month-line .blue-one.choose {
	background-color: #F3F7F9;
    position: relative;
}
#month-line .blue-one a{
color: #999999;
}
#month-line .blue-one.choose a{
    color: #fff;
    background-color: #FFC107;
    width: 100%;
    border-radius: 12px;
    float: left;
    position: absolute;
    left: 0;
	cursor: pointer;
}
#month-line .blue-one.choose .blue-rightbkg{
    display: block;
}
.blue-rightbkg{
    float: right;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #f2f2f2;
    display: none;
}
#month-line .month-text {
	line-height: 20px;
	margin-top: 4px;
}

#month-line .month-one {
	float: left;
	width: 8.33%;
	text-align: center;
}

#month-line .month-one a {
	color: #999999;
	text-decoration: none;
}

#month-line .month-one.choose a {
	color: #333333;
}

th {
	text-align: center;
}

.co-tool-bar {
	position: fixed;
	bottom: 10px;
	width: 100%;
	height: 50px;
	text-align: center;
}

.codate {
	font-size: 16px;
	color: #333;
	margin-right: 8px;
}

.costatus {
	background: #FFBF00;
	border: 1px solid #FFBF00;
	border-radius: 4px;
	color: #FFFFFF;
	letter-spacing: 0;
	padding: 3px 8px;
}

.conav {
	width: 100%;
	height: 70px;
	border-right: 2px solid #DFE6EC;
	line-height: 12px;
	text-align: center;
	font-size: 16px;
	color: #333333;
	cursor: pointer;
}
#termTable .check-style{
	width: 37px;padding: 0;
}
/* 后端分页 */
#termEndAccount .ufma-table-paginate{
	float: right;
}
.termTable-paginate .dataTables_info {
	   display: none;
}
#termEndAccount .ufma-table-paginate select {padding: 8px;}
#termEndAccount .ufma-table-paginate .pull-left{line-height: 30px; margin: 0;}
#termEndAccount .ufma-table-paginate button.pull-left{line-height: 20px;}
#termEndAccount .ufma-table-paginate select,
#termEndAccount .ufma-table-paginate input{height: 30px; border-radius: 4px;}
#termEndAccount .ufma-table-paginate input{width: 34px;}
#termEndAccount .ufma-table-paginate .pagination-sm>li>a{font-size: 12px; line-height: 1.42857143;}
#termEndAccount .ufma-table-paginate .vbNumPage.active span{background-color: #108EE9;border-color: #108EE9;}
#termEndAccount .ufma-table-paginate .vbNumPage:hover a{background-color: #108EE9;border-color: #108EE9;color: #FFFFFF;}
#termEndAccount .ufma-table-paginate .vbPrevPage:hover a{background-color: #108EE9;border-color: #108EE9;color: #FFFFFF;}
#termEndAccount .ufma-table-paginate .vbNextPage:hover a{background-color: #108EE9;border-color: #108EE9;color: #FFFFFF;}
#termEndAccount .ufma-table-paginate #vbTable-pagination {
	margin: 0 8px 0 0;
}
