
.ufma-table th{
	text-align: center;
    background: #EEF1F6;
}
.ufma-table{
	width: 750px;
}
.ufma-table .cond{
	width:200px;
}
.ufma-table .uf-combox-border{
	border: 0px;
}
.ufma-table .searchasstd{
    padding: 0px;
    margin: 0px;
}
.ufma-table .searchass{
    width: 100%;
    position: relative;
    padding: 0px;
    margin: 0px;
    height: 30px;
}
.ufma-table .searchass input{
    width: 100%;
    position: absolute;
    height: 100%;
    border: 0px;
    box-sizing: border-box;
    padding-right: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.ufma-table .searchtitle{
    width:90px;
}
.ufma-table .searchass span{
    position: absolute;
    right: 5px;
    top: 7px;
	font-size: 16px;
	cursor: pointer;
}
.ufma-table .selecttd{
	width: 60px;
}
.ufma-table .assIsshow{
	width: 100%;
	border:0px;
}
.noborde{
    width: 100%;
    border: 0px;
}
.setPgleft{
    width: 350px;
    height: 100%;
    float: left;
}
.setPgright{
    position: relative;
    float: right;
}
label{
    font-weight: normal;
}
.control-element{
    display: inline-block;
}
#fananName,#modelsel{
    margin: 15px 0px 0px;
    width: 350px;
}
.w76{
    width: 76px;
}
.disableddiv{
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
#modelsel{
    display: block;
    margin: 15px 0px 0px;
    width: 350px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#accsCodesel{
    display: block;
    margin: 15px 0px 0px;
    width: 350px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.mxzzradio{
    display: none;
}
.isIncludeUnposts,.isIncludeJzs,.isShowCodes{
    display: none;
}