.rpt-query-li-cont-title span{
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	width:90px;
}
.rpt-query-li-cont-title span:hover{
	text-overflow:inherit;
	overflow:visible;
}
.uf-tip-menu td {
	min-width: 272px;
}
.btn-printyun{
	float: right;
    margin-top: 8px;
    margin-left: 8px;
}
#glRptBalTable{
	/* width: auto; */
	min-width: 100%;
}
#glRptBalTablefixed{
	/* width: auto; */
	min-width: 100%;
}
#glRptBalTable td{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
#glRptBalTable td span{
	min-width: 106px;
	max-width: 500px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
#glRptBalTablefixed td{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
#glRptBalTablefixed td span{
	min-width: 106px;
	max-width: 500px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}