#vouBox {
    padding-bottom: 0;
}

/*.workspace{margin-top: 8px;}*/
.vou-workspace {
    margin: 0 15px;
    margin-bottom: -10px;
}

.vou-box {
    padding: 8px 0;
}

.vou-selete-box {
    height: 46px;
    line-height: 46px;
}

.vou-title {
    float: left;
    height: 46px;
    line-height: 46px;
    border-bottom: 3px solid #108EE9;
    font-size: 16px;
}

.vou-selete-list {
    float: left;
    height: 46px;
    line-height: 46px;
    margin-left: -16px;
    margin-bottom: 0;
}

.vou-selete-list-li {
    display: inline-block;
    margin-right: 32px;
}

.vou-method-tip {
    float: right;
    position: relative;
    height: 46px;
}

.vou-method-tip .btn-group {
    margin-top: 8px;
}

.vou-query-box {
    padding-left: 8px;
    background: #ECF6FD;
    border: 1px solid #D2EAFB;
    position: relative;
    padding-right: 0;
}

.vou-query-box-left {
    width: 100%;
}

.vou-query-box-right {
    position: absolute;
    right: 16px;
    top: 8px;
    width: 160px;
    text-align: right;
}

.vou-query-box-left .vou-query-box-top,
.vou-query-box-left .vou-query-box-bottom {
    list-style: none;
    margin-left: -40px;
    margin-bottom: 0;
}

.vou-query-box-bottom {
    margin-top: 10px;
    display: none;
}

.vou-query-box-left .vou-query-box-li {
    margin-top: 10px;
    min-height: 30px;
}

.vou-query-box-left .vou-query-box-li:first-child {
    margin-top: 0px;
}

.vou-query-box-li .vou-query-li {
    float: left;
}

.vou-query-box-li .vou-query-li-cont-title {
    text-align: right;
    float: left;
    width: 70px;
    height: 30px;
    line-height: 30px;
    margin-right: 8px;
    margin-bottom: 0;
}

.vou-query-box-li .vou-query-li-cont {
    float: left;
    min-width: 240px;
}

#vouBox .vou-query-box input, #vouBox .vou-query-box select {
    border-radius: 4px;
}

#vouBox .vou-query-box .tip-more {
    margin-right: 4px;
    cursor: pointer;
}

#vouBox .vou-query-box .tip-more span {
    margin-left: 2px;
}

/*#vouBox .vou-query-box .btn-default{margin-left: 4px;}*/
#vouBox #vbAcco {
    width: 210px;
}

#vouBox .vou-query-btn-cont .btn {
    padding: 0 12px !important;
    height: 26px;
    line-height: 24px;
    margin: 2px 4px 2px 0;
}

#vouBox .vou-query-btn-cont .btn.btn-default {
    background-color: transparent;
    border: 1px solid transparent;
}

#vouBox .vou-query-li-cont .mt-checkbox {
    line-height: 30px;
    margin-bottom: 0;
}

#vouBox .vou-query-li-cont .mt-checkbox span {
    margin-top: 5px;
}

#vouBox .vou-query-btn-cont,
#vouBox .query-date {
    float: left;
}

#vouBox .date-box {
    display: inline-block;
    position: relative;
    width: 125px;
    padding: 1px 0;
}

#vouBox #vbStartVouDate,
#vouBox #vbEndVouDate {
    width: 125px;
}

#vouBox .date-box i {
    position: absolute;
    top: 4px;
    right: 8px;
    font-size: 20px;
    color: #999;
}

#vouBox .vou-query-li-selete {
    display: inline-block;
    position: relative;
}

#vouBox .vou-query-li-selete select {
    width: 210px;
    height: 30px;
    border-radius: 4px;
}

#vouBox .vou-query-li-selete .tree-view {
    width: 210px;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    position: relative;
    padding: 0 45px 0 3px;
}

#vouBox .vou-query-li-selete #vb-kjkm {
    position: relative;
}

#vouBox .vou-query-li-selete .vb-kjkm-cancel {
    position: absolute;
    right: 8px;
    top: 0;
    display: none;
}

#vouBox .vou-query-li-selete .tree-data {
    width: 210px; /*max-height:200px;*/
    border-radius: 4px;
    position: absolute;
    top: 30;
    overflow: hidden;
    background: #fff;
    z-index: 999;
}

#vouBox .vou-query-li-selete .p-search-key {
    margin: 8px 8px 0 8px;
}

#vouBox .vou-query-li-selete .p-search-key input {
    padding: 4px;
    width: 100%;
    border-radius: 4px;
}

#vouBox .vou-query-li-selete .ztree {
    padding-top: 0;
    width: 340px;
    max-height: 155px;
    overflow-y: auto;
    overflow-x: hidden;
}

#vouBox .vou-query-li-selete .ztree li {
    margin-top: 10px;
}

#vouBox .vou-query-li-selete .ztree li span.button.switch {
    margin-right: 3px;
}

#vbVouTypeCode,
#vbStartVouNo,
#vbEndVouNo {
    width: 60px;
}

#vbInputor {
    width: 112px;
    margin-right: 12px;
}

#vbStartStadAmt,
#vbEndStadAmt {
    width: 94px;
    height: 30px;
}

#vbRemark {
    min-width: 210px;
    height: 30px;
}

#vbPrintStatus {
    width: 210px;
    height: 30px;
}

#vbVouTypeCode {
    margin-right: 4px;
}

#vouBox .table-sub {
    position: relative;
}

#vouBox .nav-tabs {
    height: 34px;
}

#vouBox .nav-tabs li.active {
    background-color: transparent;
}

#vouBox .nav-tabs li.active a {
    color: #108EE9;
}

#vouBox .nav-tabs li a {
    padding: 6px 16px;
    color: #666666;
    margin-right: 4px;
}

#vouBox .nav-tabs li a:hover {
    background-color: #49a9ee;
    border-color: #49a9ee;
    color: #ffffff;
}

#vouBox .nav-tabs li.active a:hover {
    background-color: transparent;
    color: #108EE9;
    border-color: #D9D9D9 #D9D9D9 #FFFFFF #D9D9D9;
}

#vouBox .table-sub-action {
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
}

#vouBox .table-sub-action .btn {
    height: 30px;
}

#vouBox .btn-group button {
    margin-left: -2px;
}

#vouBox .btn-group button:first-child {
    margin-left: 0px;
}

#vouBox .table-tab {
    margin-top: 10px;
    position: relative;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
}

/* #vouBoxTable th {
    border: 1px solid #D9D9D9;
    text-align: center;
}

#vouBoxTable .vB-check-style {
    width: 37px;
    padding: 0;
}

#vouBoxTable td.vB-check-style {
    text-align: center;
}

#vouBoxTable td {
    min-height: 30px;
    line-height: 24px;
    border: 1px solid #D9D9D9;
}

#vouBoxTable td.vB-num-style,
#vouBoxTable td.vB-more-style {
    text-align: right;
}

#vouBoxTable .vB-action-style {
    width: 102px;
}

#vouBoxTable .dataTables_empty {
    padding: 65px 0;
}

#vouBoxTable .dataTables_empty:hover {
    background-color: #FFFFFF;
}

#vouBoxTable .dataTables_empty img {
    width: 116px;
}

#vouBoxTable .dataTables_empty i {
    display: inline-block;
    margin-top: 10px;
} */

/*#vouBox .ufma-table-toolbar{height: 70px;}*/
#vouBox .vbDataSum {
    line-height: 24px;
    padding: 3px 5px;
    border: 1px solid #D9D9D9;
    border-bottom: none;
    background-color: #FFFFFF;
    margin: 0 14px;
}

#vbTable-tool-bar button {
    margin-right: 8px;
}

#vbTable-pagination {
    margin: 0 8px;
}

#vouBox .ufma-table-paginate {
    float: right;
}

#vouBox .ufma-table-paginate .pull-left {
    line-height: 30px;
}

#vouBox .ufma-table-paginate button.pull-left {
    line-height: 20px;
}

#vouBox .ufma-table-paginate select,
#vouBox .ufma-table-paginate input {
    height: 30px;
    border-radius: 4px;
}

#vouBox .ufma-table-paginate input {
    width: 34px;
}

#vouBox .ufma-table-paginate .pagination-sm > li > a {
    font-size: 12px;
    line-height: 1.42857143;
}

#vouBox .ufma-table-paginate .vbNumPage.active span {
    background-color: #108EE9;
    border-color: #108EE9;
}

#vouBox .ufma-table-paginate .vbNumPage:hover a {
    background-color: #108EE9;
    border-color: #108EE9;
    color: #FFFFFF;
}

#vouBox .ufma-table-paginate .vbPrevPage:hover a {
    background-color: #108EE9;
    border-color: #108EE9;
    color: #FFFFFF;
}

#vouBox .ufma-table-paginate .vbNextPage:hover a {
    background-color: #108EE9;
    border-color: #108EE9;
    color: #FFFFFF;
}

/*#vbTable-tool-bar{
	left: 0;
	padding-left: 15px;
	padding-right: 15px;
	background-color: transparent;
}*/
/*#vouBox .tool-bar-body{
	margin: 0;
	background-color: #FFFFFF;
}*/

/*悬浮单位账套树*/
.rpt-atree-btn {
    position: absolute;
    width: 40px;
    height: 35px;
    border: 1px solid #108ee9;
    border-left: 0px solid #108ee9;
    border-radius: 0 4px 4px 0;
    text-align: center;
    line-height: 32px;
    font-size: 16px;
    cursor: pointer;
    top: 12px;
    left: -15px;
    background: #108ee9;
    color: #fff;
}

.rpt-atree-box {
    position: absolute;
    width: 240px;
    height: 460px;
    overflow: hidden;
    border: 1px solid #d9d9d9;
    border-left: 0px solid #d9d9d9;
    top: -122px;
    left: -255px;
    background: #fff;
    z-index: 1001;
}

.rpt-input-group {
    margin: 12px 10px 0 10px;
}

.rpt-input-group .form-control {
    height: 30px;
    outline: none;
}

.rpt-input-group .form-control:focus {
    box-shadow: none;
    border-color: #ccc;
}

.rpt-input-group .input-group-addon {
    background: none;
    padding: 6px 16px;
    cursor: pointer;
}

.atree-ztree.ufmaTree.ztree li {
    line-height: 30px;
    margin-right: -5px;
}

.atree-ztree.ufmaTree.ztree li a {
    height: 30px;
    padding: 0;
}

.atree-ztree.ufmaTree.ztree li a.curSelectedNode {
    height: 30px;
    padding: 0;
    width: 100%;
}

.atree-ztree.ufmaTree.ztree li span.button {
    vertical-align: middle;
    margin-top: -4px;
}

.atree-ztree.ufmaTree.ztree li span.button.noline_open {
    margin-left: 4px;
}

.rpt-atree-box-body {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-top: 12px;
}

.rpt-acc-box {
    position: relative;
    padding-left: 252px;
    /*min-height: 656px;*/
    overflow: hidden;
    margin-top: 12px;
}

.rpt-acc-box-left {
    position: fixed;
    border: 1px solid #d9d9d9;
    width: 240px;
    height: 100%;
    left: 30px;
    top: 58px;
    z-index: 1002;
}

.rpt-acc-box-right {
    width: 100%;
}

.rpt-acc-sub {
}

.rpt-acc-sub ul {
    margin: 0;
    margin-left: -40px;
}

.rpt-acc-sub ul li {
    height: 20px;
    line-height: 20px;
    display: inline-block;
    margin-right: 24px;
}

.rpt-acc-nav {
    margin-top: 12px;
}

.rpt-acc-nav ul {
    margin: 0;
    margin-left: -4%;
    width: 104%;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    -webkit-padding-start: 0;
}

.rpt-acc-nav ul li {
    background: #fff;
    display: inline-block;
    width: 21%;
    height: 63px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin-left: 4%;
    text-align: center;
    line-height: 63px;
    cursor: pointer;
}

.rpt-acc-nav ul li i {
    font-size: 24px;
    vertical-align: middle;
}

.rpt-acc-nav ul li span {
    margin-left: 16px;
}

.rpt-acc-nav ul li:hover {
    border: 1px solid #108EE9;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.rpt-acc-nav ul li:hover i {
    color: #108ee9;
}

.rpt-acc-nav ul li:hover span {
    color: #108ee9;
}

.rpt-acc-tab {
    margin-top: 12px;
    border: 1px solid #d9d9d9;
    border-bottom: 0px solid #d9d9d9;
}

.rpt-acc-tab table thead th {
    height: 40px;
}

.rpt-acc-tab table tbody td {
    height: 35px;
    padding: 0 5px !important;
}

tbody td.tdCenter {
    text-align: center;
}

tbody td.tdLeft {
    text-align: left;
}

tbody td.tdRight {
    text-align: right;
}

.rpt-acc-back {
    float: right;
    margin-right: 8px;
}
.vou-opt-persons{
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#vouBoxTable,#vouBoxtableheads{table-layout: fixed;width: auto;border-left: 0px solid #d9d9d9;border-bottom: 1px solid #d9d9d9;}
#vouBoxtableheads{position: absolute;left: 0;top: 0;z-index: 1;}
#vouBoxTablefixed{table-layout: fixed;width: auto;min-width: 100%;}
#vouBoxTable th, #vouBoxtableheads th{text-align: center;}
#vouBoxTable td{padding:0px 8px !important;}
.ufma-table .vB-check-style{width: 37px;padding: 0;}
#vouBoxTable td.vB-check-style{text-align: center;}
#vouBoxTable td{min-height: 30px;line-height: 24px;}
#vouBoxTable .ellipsis{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#vouBoxTable td.vB-num-style,
#vouBoxTable td.vB-more-style{text-align: right;}
.ufma-table .vB-action-style{width: 102px;}

#vouBoxTable .dataTables_empty{padding: 65px 0;}
#vouBoxTable .dataTables_empty:hover{background-color: #FFFFFF;}
#vouBoxTable .dataTables_empty img{
	width: 116px;
}
#vouBoxTable .dataTables_empty i{
    display: inline-block;
    margin-top: 10px;
    font-style: normal;
    color: #999;
}

.vouBoxThead th{
	white-space:nowrap;
}
.vouBoxThead .vB-num-style{
	max-width: 250px;
}
.vouBoxThead .zhaiyao{
	max-width: 250px;
}
.common-jump-link{
	text-decoration: underline;
}
.fixedTable{
table-layout: fixed;
}
.sort{
	background: url(sort_both.png) #ffffff no-repeat right;
	cursor: pointer;
}
.sort.up{
	background: url(sort_asc.png) #ffffff no-repeat right !important;
	cursor: pointer;
}
.sort.down{
	background: url(sort_desc.png) #ffffff no-repeat right !important;
	cursor: pointer;
}
.boxoutospan{
	float: left;
	max-width: 600px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.uf-sc-content{
	border-left:0px ;
}
.switchStyle{
	position: absolute;
	right: 232px;
	top: 10px;
    height: 22px;
    background: #FFFFFF;
    border: 1px solid #DFE6EC;
    border-radius: 4px;
    font-size: 20px;
    text-align: center;
    padding-top: 4px;
    line-height: 20px;
}
.switchStylexs p {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-family: "微软雅黑";
    font-size: 12px;
    color: #333333;
    float: left;
    text-align: left;
    color: #777;
}
.switchStylexs p .kj{
	float: right;
    width: 80px;
    text-align: left;
}
.switchStylexs {
    width: 280px;
    padding: 0px 10px;
    display: none;
}
