/*全局*/
body{
	overflow:auto;
	color: #333333!important;
    letter-spacing: 0;
    height:100%;
}
/*未达项表格*/
.form-group{
	margin-bottom:0!important;
}
/* #addRow{
	border-radius: 4px;
} */
.uf-grid-viewport{
    color: #333333;   
	border:1px solid #DFE6EC;
    height:auto;
}
/*按钮组*/
.tool-bar-body{
	text-align: center;
}
/*对账单*/
.tab-content{
	border:none;

	overflow:hidden;
}
#bankBegin,#reconBegin{
	width: 49.5%;
    background: #F7F9FB;
    padding:10px;
}
#bankBegin table td,#bankBegin table th{
	border: 1px solid #DFE6EC;
	text-align: center;
}
#reconBegin table td,#reconBegin table th{
	border: 1px solid #DFE6EC;
	text-align: center;
}
.beginTitle{
	margin: 6px 0;
	border-left: solid 3px #108EE9;
	padding-left: 10px;
}
.beginTitle span:last-child{
	text-align: right;
}
#bankBegin table,#reconBegin table{
	background: #FFFFFF!important;
	width: 100%;
}
#bankBegin table td,#reconBegin table td{
	padding:10px;
}
#bankBegin table td.left,#reconBegin table td.left{
	text-align: left;
	width: 50%;
}
#bankBegin table td.right,#reconBegin table td.right{
	text-align: right;
	width: 50%;
}
#change{
	text-decoration: none;
	color: #108EE9;
	text-align: left;
}
#bankChangeInput,#reconChangeInput{
	border: none;
	outline: medium;
	display: block;
	width:200px;
	text-align: right;
}
.cont-tabs{
	 margin-top:10px;
}
div.uf-grid-head-view,div.uf-grid-body-view{
	width:auto!important;
}
.icon-calendar{
	display:none!important;
}
.journalcls{
   background: #F7F9FB;
   border: 1px solid #DFE6EC;
   border-radius: 4px;
   width:48%;
   height:106px;
   margin:10px;
}
.journalcls:nth-child(2){
    margin-left:0px;
    margin-right: 17px;
}
.beginContainer{
    padding:12px 10px 0 12px;
}
.begincon{
        padding-left: 15px;
}
.begincon i{
    font-style: normal;
}
.begincon i:nth-child(2){
    padding-left:50px;
}
.containerfoot{
margin:auto;
}

