.ma-input-group{margin:8px 10px 0 10px;}
.ma-input-group .form-control{height: 30px;}
.ma-input-group .input-group-addon{background:none;padding:6px 16px;cursor: pointer;}
.doc-ztree{margin-top:8px;margin-left:0px;overflow:auto;}
/*搜索按钮*/

@-moz-document url-prefix(){.searchHide{margin-right:-8px;}}

.model-name{
	float:left;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}
.model-input{
	float:left;
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom: 20px;
}
.w260{width:260px;}
.w282{width:282px;}
.w210{width:210px;}
.w420{width:420px;}

.vou-selete-list{float: left;height:46px;line-height: 46px;margin-left: -16px;margin-bottom: 0;}
.vou-selete-list-li{display: inline-block;margin-right: 32px;}

.query-left {
    width: 100%;
}
.query-right {
    position: absolute;
    right: 8px;
    top: 8px;
    text-align: right;
}
.query-left-ul {
    list-style: none;
    margin-left: -40px;
    margin-bottom: 0;
}
.query-left-li {
    position: relative;
    padding-left: 110px;
    margin-top: 10px;
    min-height: 30px;
}
.query-left .query-left-li:first-child {
    margin-top: 0px;
}
.query-li-title {
    text-align: left;
    font-weight: normal;
    display: inline-block;
    width: 70px;
    height: 30px;
    line-height: 30px;
}
.query-inline-block {
    display: inline-block;
}
.query-select {
    width: 100%;
    min-width: 745px;
}
.query-select-dzfa {
    border-radius: 4px;
    height: 30px;
    width: 100%;
}
.portlet-body{
	background-color: #ECF6FD;
}
.model-input-new{
	height: 30px;
}
.margin-left-64{
    margin-left: 64px;
}
.margin-right-64{
    margin-right: 64px;
}
.ztree li span.button.ico_docu {
    background: url(../../images/list.png) no-repeat center center;
    margin:0 2px;
    vertical-align: top;
}
table.table-thead-center td {
	text-align: left;
}
#vouUseFrequency{
    width: 835px;
    position: absolute;
    z-index: 3000;
    background: #fff;
    right: 0px;
    padding-top: 30px;
}
#vouUseFrequency .srmbsearch{
	margin-left: 16px;
}
.srmbsearchtext {
    /* width: 100%; */
    height: 25px;
    margin-top: 8px;
    margin-left: 16px;
    margin-right: 16px;
}

#vouUseFrequency .srmbsearchtext .clicks {
	float: right;
	margin-right: 16px;
	color: #108EE9;
    cursor: pointer;
    margin-left: 0px;
}
.vouUseFrequency-body{
	overflow-y: auto;
    height: 380px;
}
.vUFbodymodall{
    width: 270px;
	height: 325px;
    display: inline-block;
}
.vUFbodymodal{
    width: 240px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    height: 295px;
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
}
.mbmodalbtnsearchinput{
    background: #FFFFFF !important;
    border: 1px solid #D9D9D9 !important;
}
.mbmodalbtnsearch{
	height: 30px;
	border: 1px solid #D9D9D9;
	color: #000;
	background: #fff;
}
.titlename{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:190px;
    display: inline-block;
}
.vUFbodymodaltitle{
	float: left;
    width: 220px;
    height: 45px;
    border-bottom: 1px dashed #d9d9d9;
    margin-left: 10px;
    line-height: 45px;
}
.vUFbodymodaltitle .rightcheck{
	float: right;
	margin-top: 13px;
}
.vUFbodymodalbody{
	float: left;
    width: 220px;
    height: 125px;
    line-height: 30px;
    border-bottom: 1px dashed #d9d9d9;
    margin-left: 10px;
}
.vUFbodymodalbody .cytitle{
}
.vUFbodymodalbody .cytitle b{
    width: 8px;
    height: 8px;
    background: #FFB415;
    line-height: 30px;
    display: inline-block;
    margin-right: 10px;
}
.vUFbodymodalbody p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px;
}
.vUFbodymodalbody .fu{
	color: #108EE9;
}
.vUFbodymodalbody .fu span{
	margin-right: 8px;
}
.vUFnum{
    display: inline-block;
    margin-left: 20px;
    font-size: 12px;
    color: #8a8989;
}
.srmbsearchhistory {
    display: none;
    width: 310px;
    height: 25px;
    margin-top: 8px;
    margin-left: 16px;
    margin-right: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.srmbsearchhistory a {
    text-decoration: none;
    margin-right: 8px;
    font-family: 微软雅黑;
    font-size: 14px;
    color: #151515;
    line-height: 19px;
    cursor: pointer;
}