/* 主页面 */

#tax-rate-setting .prs-workspace {
  margin: 0 15px;
  margin-bottom: -10px;
}

#tax-rate-setting .text-align-center {
  text-align: center;
}

#tax-rate-setting-table_wrapper {
  border: none;
}
